@model Convocation.Entities.StaffTask

@{
    ViewData["Title"] = "Assign Staff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Assign" method="post">

    <div class="form-group">
        <label>Assign To</label>
        <select asp-for="UserAccountId"
                asp-items="ViewBag.Users"
                class="form-control">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        Assign
    </button>

</form>