@model Convocation.Entities.StaffTask

<form asp-action="Assign" method="post">

    <div class="form-group">
        <label>Task Title</label>
        <input asp-for="TaskTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label>Remarks</label>
        <input asp-for="Remarks" class="form-control" />
    </div>

    <div class="form-group">
        <label>Assign To</label>
        <select asp-for="UserAccountId"
                asp-items="ViewBag.Users"
                class="form-control">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        Assign
    </button>

</form>