@model Convocation_Management_System.Web.UI.Models.StaffTaskViewModel

<form asp-action="Create" method="post">

    <label>Staff</label>
    <select asp-for="UserAccountId"
            class="form-control"
            asp-items="Model.Users">
    </select>

    <label>Task Title</label>
    <input asp-for="TaskTitle" class="form-control" />

    <label>Description</label>
    <textarea asp-for="Description" class="form-control"></textarea>

    <label>Status</label>
    <select asp-for="Status" class="form-control">
        <option>Pending</option>
        <option>InProgress</option>
        <option>Completed</option>
    </select>

    <label>Remarks</label>
    <textarea asp-for="Remarks" class="form-control"></textarea>

    <button class="btn btn-success mt-2">Save</button>
</form>