@model Convocation.Entities.UserPermission
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "User Permission Details";
}
<div class="form-card">
    <h3 class="form-title mb-4">User Permission Details</h3>
    <dl class="row">
        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9">@Model.UserAccount?.FullName</dd>
        <dt class="col-sm-3">Permission</dt>
        <dd class="col-sm-9">@Model.Permission?.PermissionName</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.UserPermissionId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>