@{
    ViewData["Title"] = "Payment Success";
    Layout = "~/Views/Shared/_ParticipantLayout.cshtml";
}

<div class="text-center mt-5">

    <h2 class="text-success">Payment Submitted Successfully ✔</h2>

    <p>Your transaction has been received.</p>

    <p>Admin will verify your payment shortly.</p>

    <a asp-controller="Participant"
       asp-action="MyRegistration"
       class="btn btn-primary mt-3">
        Go Back
    </a>

</div>