@model Convocation.Entities.QrPass

@{
    ViewData["Title"] = "Create QR";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Create QR Pass</h3>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label>Registration</label>
        <select asp-for="RegistrationId" class="form-control"
                asp-items="ViewBag.RegistrationId">
            <option value="">-- Select Registration --</option>
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Generate QR
    </button>

</form>