@{
    Layout = "~/Views/Shared/_ParticipantLayout.cshtml";
}

<h3 class="mb-4">Student Dashboard</h3>

<div class="row">

    <div class="col-md-3">
        <div class="card shadow-sm p-3">
            <h6>Registrations</h6>
            <h3>@ViewBag.TotalRegistrations</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm p-3">
            <h6>Payments</h6>
            <h3>@ViewBag.TotalPayments</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm p-3">
            <h6>QR Pass</h6>
            <h3>@ViewBag.TotalQR</h3>
        </div>
    </div>

</div>