@model Convocation.Entities.QrPass

<h3>My QR Pass</h3>

@if (Model == null)
{
    <div class="alert alert-warning">
        QR not generated yet.
    </div>
}
else
{
    <div class="text-center">

        <img src="@Model.QrImagePath"
             alt="QR Code"
             style="width:250px;height:250px;" />

        <p><b>QR Code Text:</b> @Model.QrCodeText</p>

        <p><b>Status:</b> @(Model.IsUsed ? "Used" : "Active")</p>

    </div>
}