@model Convocation.Entities.DistributionTask

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">

    <h3>Delete Task</h3>

    <div class="alert alert-warning">
        Are you sure you want to delete: <b>@Model.TaskTitle</b> ?
    </div>

    <form asp-action="DeleteConfirmed" method="post">

        <input type="hidden" name="id" value="@Model.DistributionTaskId" />

        <button class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>

    </form>

</div>